@import 'normalize.css';
:root {
    --primary: #ff3b5c;
    --while: #fff;
    --black: #000;

    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontol-space: 24px;
    --text-color: #333;
    --height-search: 46px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: TikTokFont;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: rgb(22, 24, 35);
}

input,
button,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
    color: var(--text-color);
}

//fonst embeded

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/fonts/TikTokDisplayFont-Semibold.woff2');
    font-weight: 400;
}
// custom tippy
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.1rem;
        background-color: #444444;
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow {
        top: -1px;
    }
}
